.gen-2 {
	clear: both;
}

.post_warp {
	background-color: #ffffff;
	text-align: center;
	width: 971px;
	overflow:hidden;
	margin:0 auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #666;
	border-bottom-width: 1px;
	border-bottom-color: #666;
}

.post_sidebar {
	left: 1px;
	padding: 6px;
	top: 1px;
	width: 160px;
	float:left;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: none;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: #666;
	overflow:hidden;
	padding-bottom:9999px;
	margin-bottom:-9999px;

}


.post_author {
	text-align:left;
	border: none;
	clear: both;
	float: left;
	width: 150px;	
	padding: 5px;
}


.post_header {
	background-color: #ffffff;
	border: none;
	height: 54px;
	float:left;	
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 7px;	
	top: 1px;
	width: 784px;
}

.post_body {
	background-color: #ffffff;
	float:left;
	padding: 6px;
	top: 69px;
	width: 784px;
	height: auto;
	border-top-width: 1px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #666;
}




.post_title {
	border: none;
	height: 52px;
	text-align: left;
	width: 784px;
}

.post_titlename {
	border: none;
	clear: both;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	width: 422px;
}

.post_titledate {
	border: none;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	width: 196px;
}

.post_titleright {
	border: none;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	text-align: center;
	width: 156px;
}

.post_titletag {
	background-color: #ffffff;
	border: none;
	display: inline;
	float: left;
	height: 22px;
	line-height: 22px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	width: 780px;
}


.post_bodyin {
	border: none;	
	text-align: left;
	width: 784px;
    height: auto;
}

DIV.digg-row {
	PADDING-RIGHT: 9px; 
	PADDING-LEFT: 9px;  
	PADDING-BOTTOM: 9px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px; 
}
DIV.digg-row SPAN {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	BACKGROUND: url(../../images/dig.gif) no-repeat; 
	FLOAT: right; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 6px 0px 0px; 
	WIDTH: 54px; 
	PADDING-TOP: 0px; 
	HEIGHT: 70px
}

.diggArea .diggNum {
	MARGIN-TOP: 9px; 
	DISPLAY: block; 
	COLOR: #653636;
	FONT-WEIGHT: lighter; 
	FONT-SIZE: 16px; 
	WIDTH: 54px; 
	FONT-FAMILY: Georgia; 
	HEIGHT: 34px; 
	TEXT-ALIGN: center
}
.diggArea .top8 {
	padding-top:8px;
}

.diggArea .diggLink {
	DISPLAY: block; 
	WIDTH: 54px; 
	COLOR: #999; 
	TEXT-ALIGN: center;
}

.approved{
  text-align: left;
  width: 700px;
  margin:0 auto;	
}
