
.gen-2 {
	clear: both;
}


.ts-11 {
	text-align: center;
	background-color: #cccccc;
	border: none;	
	margin-left: auto;
	margin-right: auto;	
	width: 977px;
	height: auto;
}

.ts-11-1 {
	text-align: center;
	background-color: #ffffff;
	border: none;
	clear: both;
	display: inline;
	float: left;
	margin-left: 1px;
	margin-top: 1px;
	padding: 2px;
	width: 971px;
	height: auto;
}

.ts-12 {
	text-align: left;
	background-color: #cfcfa0;
	border: none;
	height: 31px;
	margin-left: auto;
	margin-right: auto;	
	width: 971px;
}

.ts-12-1 {
	border: none;
	clear: both;
	float: left;
	height: 25px;
	padding: 3px;
	width: 697px;
}

.gen-20 {
	width: 50px;
}

.ts-12-2 {
	border: none;
	float: left;
	height: 25px;
	overflow: hidden;
	padding: 3px;
	width: 6px;
}

.ts-12-3 {
	border: none;
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 3px;
	text-align: right;
	width: 250px;
}

.ts-13 {
	background-color: #cccccc;
	border: none;

	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 971px;
	
}

.ts-13-1 {
	border: none;
	clear: both;
	float: left;
	height: 265px;
	padding: 0px;
	width: 971px;
}

.ts-14 {
	background-color: #cccccc;
	border: none;	
	position: relative;
	text-align: left;
	width: 971px;
	 
	
}

.ts-14-1 {
	background-color: #ffffff;
	border: none;	
	left: 1px;
	padding: 6px;
	position: absolute;
	top: 1px;
	width: 160px;
	
	
}

.ts-15 {
	border: none;	
	text-align: left;
	width: 160px;
	
	
}

.ts-15-1 {
	border: none;
	clear: both;
	float: left;	
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	width: 160px;
}

.ts-14-2 {
	background-color: #ffffff;
	border: none;
	height: 54px;
	left: 174px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 7px;
	position: absolute;
	top: 1px;
	width: 784px;
}

.ts-16 {
	border: none;
	height: 52px;
	text-align: left;
	width: 784px;
}

.ts-16-1 {
	border: none;
	clear: both;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	width: 422px;
}

.ts-16-2 {
	border: none;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	width: 196px;
}

.ts-16-3 {
	border: none;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	text-align: center;
	width: 156px;
}

.ts-16-4 {
	background-color: #ffffff;
	border: none;
	display: inline;
	float: left;
	height: 22px;
	line-height: 22px;
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	width: 780px;
}

.ts-14-3 {
	background-color: #ffffff;
	border: none;
	left: 174px;
	padding: 6px;
	position: absolute;
	top: 69px;
	width: 784px;
	height: auto;
}

.ts-17 {
	border: none;
	table-layout: fixed;
	text-align: left;
	width: 784px;
    height: auto;
}

.ts-17-1 {
	border: none;
	clear: both;
	display: inline;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
	padding: 2px;
	width: 776px;
	word-wrap: break-word;
	height: auto;
}

.ts-18 {
	border: none;
	height: 100px;
	text-align: left;
	width: 738px;
}

.ts-18-1 {
	border: none;
	clear: both;
	display: inline;
	float: left;
	height: 90px;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
	width: 728px;
}

.ts-19 {
	background-color: #cccccc;
	border: none;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 971px;
}

.ts-19-1 {
	background-color: #ffffcc;
	border: none;
	clear: both;
	float: left;
	height: 30px;
	padding: 1px;
	width: 969px;
}

.ts-20 {
	border: none;
	height: 30px;
	text-align: left;
	width: 969px;
}

.ts-20-1 {
	border: none;
	clear: both;
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 3px;
	text-align: center;
	width: 963px;
}

.ts-19-2 {
	background-color: #cfcfa0;
	border: none;
	float: left;
	height: 30px;
	padding: 1px;
	width: 969px;
}

.ts-21-1 {
	border: none;
	clear: both;
	float: left;
	height: 24px;
	padding: 3px;
	width: 313px;
}

.ts-21-2 {
	border: none;
	float: left;
	height: 24px;
	padding: 3px;
	width: 644px;
}

.ts-22 {
	border: none;
	height: 31px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 971px;
}

.ts-22-1 {
	border: none;
	clear: both;
	display: inline;
	float: left;
	height: 27px;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	width: 103px;
}

.ts-22-2 {
	border: none;
	display: inline;
	float: left;
	height: 27px;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	width: 757px;
}

.ts-23 {
	border: none;
	height: 27px;
	text-align: left;
	width: 376px;
}

.ts-23-1 {
	border: none;
	clear: both;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	width: 122px;
}

.ts-23-2 {
	border: none;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	width: 142px;
}

.ts-23-3 {
	border: none;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	width: 10px;
}

.ts-23-4 {
	border: none;
	display: inline;
	float: left;
	height: 23px;
	line-height: 23px;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	width: 92px;
}

.ts-22-3 {
	border: none;
	display: inline;
	float: left;
	height: 27px;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	width: 103px;
}
